<div class= "center hero-unit">
    <h1>Welcome to the Sample App</h1>
    
    <h2>
        This is the home page for the 
        <a hred= "http://railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
</div>
<%= link_to image_tag("http://www.lagou.com/image1/M00/00/49/Cgo8PFTUXOmAOcEhAAB3tO2cKds749.png", alt:"Rails"), 'http://rubyonrails.org/'%>